/*it is recommended to use border/box*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #f8f9fa;
}

html body {
    /*font-family: "Muli", sans-serif;*/

    /*Relative to font-size of the root element*/
    font-size: 1rem;
    background-color: var(--color-dark);
}

li, ul {
    /* do not show dots at each element of the list */
    list-style: none;
}

nav {
    background-color: var(--color-blue);
    /*margin-bottom: 25px;*/
}

footer {
    /*background: red;*/
}

img {
    overflow: hidden;
    /*round the corners of all images from the site*/
    border-radius: .25rem !important;
}

/* make sure all the form inputs have the same elegant border radius */
form input,
form textarea,
form select {
    /*when we click on the input, it will not seem selected */
    outline: none;

    border: none;
    border-radius: 30px;
}

/*for logo image*/
nav img {
    width: 50px;
}



/*todo: set different font size depending on screen width; use media queries!*/

.img-weather {
    /* adds gradient to the image */
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.52),
            rgba(0, 0, 0, 0.73)
    ),
    url("../../assets/plane.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    /*!* center text using flex *!*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.img-weather h1 {
    color: lightgray;
    /*position: center;*/
}


.bold {
    font-weight: bold;
}

/*my own button style!*/
.my-btn {
    background-color: var(--color-blue);
    /* create round corners to some of the buttons */
    border-radius: 50px;
}

.my-btn:hover{
    color:#dae0e5;
}

/*.bg-my-blue {*/
/*    background-color: var(--color-blue);*/
/*}*/

.old-post {
    background-color: var(--color-dark-light);
}



/* #### FORM ##### */

/* :not -> submit button should not be affected by these modifications */
/* another option: use <button> instead on <input type="button"> */
.contact-form input:not([type="submit"]),
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    border: 2px solid #393c48;
    /*use original background*/
    background: transparent;
}





.icon-div {
    width: 75px;
    height: 75px;
    /* makes a circle */
    border-radius: 50%;
    background-color: var( --color-blue)
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
}


/*rewrite the size of the icons in the nxt days section*/
.next-days .icon-div {
    width: 40px;
    height: 40px;
}
/*.icon-div img {*/
/*    !*line-height: 1;*!*/
/*    !*vertical-align: middle;*!*/
/*}*/


/*form button,*/
/*form input {*/
/*  line-height: normal;*/
/*}*/


.social-links a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1e202b;
    text-align: center;
    /*controls the space between lines of text*/
    line-height: 2;

    font-size: 20px;
}

.social-links a:hover {
    background: var(--color-blue);
    color: white;
}


/*modify text size depending on the width size!*/
@media (max-width:576px) {
    * {
        font-size: 0.92rem;
    }
}

@media (min-width:576px) {
    * {
        font-size: 0.94rem;
    }
}
@media (min-width:768px) {
    * {
        font-size: 0.96rem;
    }
}
@media (min-width:992px) {
    * {
        font-size: 0.98rem;
    }
}
@media (min-width:1200px) {
    * {
        font-size: 1rem;
    }
}